@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

:root {
    --cor-principal: #045ec5;
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    color: white;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, .3);
    user-select: none;
}

body section {
    margin: 30px;
}

body section h2 {
    margin: 10px;
}

body section ul {
    margin: 10px 0 0 50px;
}

body section p {
    margin: 0px 0 0 30px;
}

.logo {
    color: white;
    font-size: 2em;
    user-select: none;
}

.navigation a {
    color: white;
    position: relative;
    font-size: 0.9em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}


.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    color: white;
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    transition: .5s;
    margin-left: 40px;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

h1 {
    margin: 10px;
    background-color: var(--cor-principal);
    color: white;
    text-align: center;
    padding: 20px;
}

#cotacao {
    margin: 10px;
}

input,
button {
    margin: 5px;
}

#tabela_pedido {
    margin: 5px;
}

table {

    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid rgba(0, 0, 0, 0.200);
}

th,
td {
    padding: 5px;
    text-align: left;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    user-select: none;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    user-select: none;
}

/* Cards */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 15vh;
    background-color: var(--cor-principal);
    color: white;
    text-decoration: none;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card h3 {
    font-size: 2.0vh;
    text-align: center;
    padding: 10px;
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

footer {
    color: rgb(0, 0, 0);
    position: relative;
    bottom: 0;
    font-size: 0.8em;
    z-index: 9;
    padding: 10px 0 10px 0;
    backdrop-filter: blur(5px);
    width: 100%;
    display: flex;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, .3);
    user-select: none;
}

/* Cadastro de compradores */
main h2 {
    user-select: none;
}

form {
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    margin-bottom: 0px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#comprador_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comprador_form button[type="submit"] {
    background-color: var(--cor-principal);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#comprador_form button[type="submit"]:hover {
    background-color: var(--cor-principal);
}

/* Pop up Login */

.popup {
    display: none;
    position: fixed;
    justify-content: center;
    align-content: center;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.popup button[type="submit"] {
    background-color: var(--cor-principal);
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    width: 200px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup_content {
    background-color: #f4f4f4;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
}

.popup_content #login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup_content #login_form .remember-forgot {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup_content #login_form .remember-forgot a {
    margin-left: 5px;
    text-decoration: none;
    color: var(--cor-principal);
}

.popup_content #login_form .login-register {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup_content #login_form .login-register a {
    margin-left: 4px;
    text-decoration: none;
    color: var(--cor-principal);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.close-user_popup {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-user_popup:hover,
.close-user_popup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* slide pagina inicial */
.slideshow-container {
    position: relative;
    margin: 20px;
    max-width: 70%;
    overflow: hidden;
}

.slide {
    display: none;
    position: relative;
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
    user-select: none;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 30px;

}

.navigation {

    display: flex;
    align-items: center;
}

.erros {
    color: red;
    font-size: 13px;
}

@media screen and (max-width: 844px) {
    .slideshow-container {
        height: auto;
    }

    .slide img {
        height: auto;
    }
    
}


@media screen and (max-width: 850px) {
    /* Seu CSS para dispositivos com largura de tela menor ou igual a 600px */


    footer {
        color: rgb(0, 0, 0);
        position: relative;
        bottom: 0;
        left: 0;
        font-size: 0.5em;
        z-index: 9;
        padding: 10px 0 10px 0;
        width: 100%;
        border: 2px solid rgba(255, 255, 255, .3);
        user-select: none;
    }

    .hamburger {
        display: flex;
    }

    .hamburger img {
        filter: invert(1);
    }

    .navigation {
        z-index: 10;
        display: none;
        position: absolute;
        background-color: #ffffff;
        top: 110%;
        flex-direction: column;
        width: 220px;
        height: 300px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 5px 5px;
    }

    .navigation.open {
        z-index: 10;
        display: flex;
        justify-content: center;
        left: 0;
    }

    .navigation.open a {
        padding: 5px;
        margin: 5px;
        color: #000000;
    }

    .navigation.open a:hover {
        color: #000000;
        background: hsla(212, 100%, 50%, 0.1);
        border-radius: 5px;
    }

    .navigation.open button {
        margin: 20px;
        color: #000000;
        border-color: #000000;
    }

    .navigation.open button:hover {
        color: #fff;
        background: #000000
    }

    /* slide pagina inicial */
    .slideshow-container {
        position: relative;
        margin: 10px;
        max-width: 100%;
        overflow: hidden;
    }

    .logo {
        color: white;
        font-size: 1.5em;
        user-select: none;
    }

    .popup {
        display: none;
        position: absolute;
        justify-content: center;
        align-content: center;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .popup_content {
        background-color: #f4f4f4;
        padding: 20px;
        border: 1px solid #888;
        width: 100%;
        max-width: 350px;
        border-radius: 5px;
    }

    .popup button[type="submit"] {
        background-color: var(--cor-principal);
        color: white;
        padding: 10px 20px;
        width: 40vw;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}